* {
    font-family: 'Signika', sans-serif;
}

#header-nav {
    background-color: gray;
    border: 2px solid black;
}

.navbar-brand a {
    color: blue;
    text-decoration: none;
  }

#navbarMenu li {
    border-style: solid;
    border-color: black;
    border-width: 0px 2px 2px 2px;
    background-color: lightblue;
}

#navbarMenu li:nth-child(1) {
    border-top-width: 2px;
}

#navbarMenu a {
    font-size: 1.5em;
}

#content-title {
    margin: 30px;
}

#main-content {
    background-color: gray;
    min-height: 1000px;
}